<!DOCTYPE html>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;font-size: 20px;">
<h1><%= show_message %></h1>

<body>
<div style="display: flex; align-items: center; gap: 40px; height: 10vh; font-size: 20px;"> 
<form action="/result" method="get">
  <button type="submit" name = "hand" value="グー">グー</button>
</form>
<form action="/result" method="get">
  <button type="submit"name = "hand" value="チョキ">チョキ</button>
</form>
<form action="/result" method="get">
  <button type="submit"name = "hand" value="パー">パー</button>
</form>


  </body>



